<?xml version="1.0"?>

<robot name="morus_uav" xmlns:xacro="http://ros.org/wiki/xacro">
  <!--
  It seems that the xacro:property does not allow to use substitution args. Therefore, instead xacro parameter ${namespace}, subsitution argument is used $(arg name). This is 
  <xacro:property name="namespace" value="$(arg name)" />
  -->

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/morus_uav</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <xacro:property name="enable_bag_plugin" value="false" />
  <xacro:property name="bag_file" value="morus.bag" />

  <!-- Instantiate morus "mechanics" -->
  <xacro:include filename="$(find morus_description)/urdf/morus.urdf.xacro" />
  <xacro:include filename="$(find rotors_description)/urdf/component_snippets.xacro" />

 <!-- Mount an IMU-->
  <gazebo>
    <plugin filename="libhector_gazebo_ros_imu.so" name="imu_ros">
      <robotNamespace>$(arg name)</robotNamespace>
      <bodyName>imu_link</bodyName> <!-- (string, required): name of the body which holds the IMU sensor -->
      <topicName>imu</topicName> <!-- (string): name of the sensor output topic and prefix of service names (defaults to imu) -->
      <accelOffset>0.0 0.0 0.0</accelOffset> <!-- (Vector3): constant acceleration offset -->
      <accelDrift>0.0 0.0 0.0</accelDrift> <!-- (Vector3): standard deviation of the acceleration drift error -->
      <accelDriftFrequency>0.0 0.0 0.0</accelDriftFrequency> <!-- (Vector3): mean frequency of the acceleration drift staviti na nulu-->
      <accelGaussianNoise>0.0 0.0 0.0</accelGaussianNoise> <!-- (Vector3): standard deviation of the additive Gaussian acceleration noise -->
      <rateOffset>0.0 0.0 0.0</rateOffset> <!-- (Vector3): constant rate offset -->
      <rateDrift>0.0 0.0 0.0</rateDrift> <!-- (Vector3): standard deviation of the rate drift error -->
      <rateDriftFrequency>0.0 0.0 0.0</rateDriftFrequency> <!-- (Vector3): mean frequency of the rate drift  staviti na nulu-->
      <rateGaussianNoise>0.0 0.0 0.0</rateGaussianNoise> <!-- (Vector3): standard deviation of the additive Gaussian rate noise -->
      <headingOffset>0.0</headingOffset> <!-- (double): constant heading offset -->
      <headingDrift>0.0</headingDrift> <!-- (double): standard deviation of the heading drift error -->
      <headingDriftFrequency>0.0</headingDriftFrequency> <!-- (double): mean frequency of the heading drift  staviti na nulu-->
      <headingGaussianNoise>0.0</headingGaussianNoise> <!-- (double): standard deviation of the heading additive Gaussian noise -->
      <rpyOffsets>0.0 0.0 0.0</rpyOffsets> <!-- (Vector3): if non-zero, used to calculate accelOffset and headingOffset so that resulting roll, pitch and yaw errors correspond to this values when the platform is leveled (for compatibility with gazebo_plugins) -->
    </plugin>
  </gazebo>
  
  <!-- Start publishing battery status msgs-->
  <gazebo>
    <plugin filename="libmorus_gazebo_battery_status.so" name="battery_status_11">
      <batteryID> 1 </batteryID>
    </plugin>
  </gazebo>
  <gazebo>
    <plugin filename="libmorus_gazebo_battery_status.so" name="battery_status_12">
      <batteryID> 2 </batteryID>
    </plugin>
  </gazebo>
  <gazebo>
    <plugin filename="libmorus_gazebo_battery_status.so" name="battery_status_13">
      <batteryID> 3 </batteryID>
    </plugin>
  </gazebo>
  <gazebo>
    <plugin filename="libmorus_gazebo_battery_status.so" name="battery_status_14">
      <batteryID> 4 </batteryID>
    </plugin>
  </gazebo>
  <!-- Start publishing GM status msgs-->
    <gazebo>
    <plugin filename="libmorus_gazebo_gm_status.so" name="gm_status_1">
      <gmID> 1 </gmID>
      <FuelLevelTimeout>100</FuelLevelTimeout>
    </plugin>
  </gazebo>
  <gazebo>
    <plugin filename="libmorus_gazebo_gm_status.so" name="gm_status_2">
      <gmID> 2 </gmID>
    </plugin>
  </gazebo>
  <gazebo>
    <plugin filename="libmorus_gazebo_gm_status.so" name="gm_status_3">
      <gmID> 3 </gmID>
    </plugin>
  </gazebo>
  <gazebo>
    <plugin filename="libmorus_gazebo_gm_status.so" name="gm_status_4">
      <gmID> 4 </gmID>
    </plugin>
  </gazebo>
  
  <!-- Mount first generic pose sensor-->
  <xacro:odometry_plugin_macro
    namespace="morus_uav"
    odometry_sensor_suffix="1"
    parent_link="base_link"
    pose_topic="pose"
    pose_with_covariance_topic="pose_with_covariance"
    position_topic="position"
    transform_topic="transform"
    odometry_topic="odometry"
    parent_frame_id="world"
    mass_odometry_sensor="0.01"
    measurement_divisor="10"
    measurement_delay="10"
    unknown_delay="0.0"
    noise_normal_position="0.0 0.0 0.0"
    noise_normal_quaternion="0.0 0.0 0.0"
    noise_normal_linear_velocity="0 0 0"
    noise_normal_angular_velocity="0 0 0"
    noise_uniform_position="0 0 0"
    noise_uniform_quaternion="0 0 0"
    noise_uniform_linear_velocity="0 0 0"
    noise_uniform_angular_velocity="0 0 0"
    enable_odometry_map="false"
    odometry_map=""
    image_scale="0.1">
    <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" /> <!-- [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] -->
    <origin xyz="-0.0 0.0 0" rpy="0.0 0.0 0.0" />
  </xacro:odometry_plugin_macro>

</robot>

