<launch>
	<!-- Start tilt joint controller -->
	<rosparam file="$(find morus_control)/config/tilt.yaml" command="load"/>
	<node name="Joint_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
	  args="--manager=dxl_manager
		--port pan_tilt_port
        Joint_mass_controller"
	  output="screen"/>	
</launch>
