#!/usr/bin/env python
PACKAGE = "mav_msgs"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("roll_kp", double_t, 0, "Roll ctl PID P gain", 0.5, 0, 100)
gen.add("roll_ki", double_t, 0, "Roll ctl PID I gain", 0.1, 0, 100)
gen.add("roll_kd", double_t, 0, "Roll ctl PID D gain", 0.0, 0, 100)
gen.add("roll_r_kp", double_t, 0, "Roll rate ctl PID P gain", 20, 0, 1000)
gen.add("roll_r_ki", double_t, 0, "Roll rate ctl PID I gain", 20, 0, 1000)
gen.add("roll_r_kd", double_t, 0, "Roll rate ctl PID D gain", 2, 0, 1000)

gen.add("pitch_kp", double_t, 0, "Pitch ctl PID P gain", 0.5,  0, 100)
gen.add("pitch_ki", double_t, 0, "Pitch ctl PID I gain", 0.1, 0,   100)
gen.add("pitch_kd", double_t, 0, "Pitch ctl PID D gain", 0.0, 0, 100)
gen.add("pitch_r_kp", double_t, 0, "Pitch rate ctl PID P gain", 20,  0, 1000)
gen.add("pitch_r_ki", double_t, 0, "Pitch rate ctl PID I gain", 20, 0,  1000)
gen.add("pitch_r_kd", double_t, 0, "Pitch rate ctl PID D gain", 2, 0, 1000)

gen.add("yaw_kp", double_t, 0, "Yaw ctl PID P gain", 1,  0, 100)
gen.add("yaw_ki", double_t, 0, "Yaw ctl PID I gain",    0.001, 0,   100)
gen.add("yaw_kd", double_t, 0, "Yaw ctl PID D gain",  0.1, 0, 100)
gen.add("yaw_r_kp", double_t, 0, "Yaw rate ctl PID P gain", 200, 0, 1000)
gen.add("yaw_r_ki", double_t, 0, "Yaw rate ctl PID I gain", 0, 0, 1000)
gen.add("yaw_r_kd", double_t, 0, "Yaw rate ctl PID D gain", 0, 0, 1000)

gen.add("x_kp", double_t, 0, "X ctl PID P gain", 0.01, 0, 1000)
gen.add("x_ki", double_t, 0, "X ctl PID I gain", 0, 0, 1000)
gen.add("x_kd", double_t, 0, "X ctl PID D gain", 0, 0, 1000)

gen.add("vx_kp", double_t, 0, "Vx ctl PID P gain", 0.01, 0, 1000)
gen.add("vx_ki", double_t, 0, "Vx ctl PID I gain", 0, 0, 1000)
gen.add("vx_kd", double_t, 0, "Vx ctl PID D gain", 0, 0, 1000)

gen.add("y_kp", double_t, 0, "Y ctl PID P gain", 0.01, 0, 1000)
gen.add("y_ki", double_t, 0, "Y ctl PID I gain", 0, 0, 1000)
gen.add("y_kd", double_t, 0, "Y ctl PID D gain", 0, 0, 1000)

gen.add("vy_kp", double_t, 0, "Vy ctl PID P gain", 0.01, 0, 1000)
gen.add("vy_ki", double_t, 0, "Vy ctl PID I gain", 0, 0, 1000)
gen.add("vy_kd", double_t, 0, "Vy ctl PID D gain", 0, 0, 1000)

gen.add("z_kp", double_t, 0, "Z ctl PID P gain", 0.5, 0, 1000)
gen.add("z_ki", double_t, 0, "Z ctl PID I gain", 0.125, 0, 1000)
gen.add("z_kd", double_t, 0, "Z ctl PID D gain", 0.0, 0, 1000)

gen.add("vz_kp", double_t, 0, "Vz ctl PID P gain", 75, 0, 1000)
gen.add("vz_ki", double_t, 0, "Vz ctl PID I gain", 10, 0, 1000)
gen.add("vz_kd", double_t, 0, "Vz ctl PID D gain", 0.41472, 0, 1000)

exit(gen.generate(PACKAGE, "mav_msgs", "MavCtlParams"))
